<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wifi scanning & connecting-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Required only if your app isn't using the Device Companion Manager. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="org.rfcx.companion.CompanionApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <activity android:name=".view.profile.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="org.rfcx.companion.view.detail.DisplayImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.rfcx.companion.view.profile.locationgroup.ProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.detail.EditLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.detail.DeploymentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.profile.coordinates.CoordinatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.profile.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rfcx.companion.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="org.rfcx.companion.view.deployment.AudioMothDeploymentActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name="org.rfcx.companion.view.deployment.guardian.GuardianDeploymentActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity android:name=".view.deployment.songmeter.SongMeterDeploymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name=".view.project.ProjectSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.profile.guardiansoftware.GuardianSoftwareActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.unsynced.UnsyncedWorksActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.profile.classifier.GuardianClassifierActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.deployment.guardian.storage.HeatmapAudioCoverageActivity"
            android:screenOrientation="landscape"/>

        <service
            android:name=".service.LocationTrackerService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service android:name=".repo.ble.BleConnectService" android:enabled="true"/>
    </application>

</manifest>
