<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rfcx.companion">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wifi scanning & connecting-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="org.rfcx.companion.CompanionApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="org.rfcx.companion.view.detail.DisplayImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.rfcx.companion.view.profile.locationgroup.CreateNewGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.profile.locationgroup.LocationGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.detail.EditLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.detail.DeploymentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.profile.coordinates.CoordinatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.profile.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rfcx.companion.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rfcx.companion.view.deployment.EdgeDeploymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.rfcx.companion.view.deployment.guardian.GuardianDeploymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.rfcx.companion.view.diagnostic.DiagnosticActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.project.ProjectSelectActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.LocationTrackerService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>
